<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../components/head") %> 
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
      <%- include("../components/sidebar") %> 
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <%- include("../components/navbar") %> 
          <!-- End of Topbar -->

          <!-- Begin Page Content -->
          <div class="container-fluid" style="padding-left: 20%; margin-top: 100px;">
            <h6 class=" mb-3 text-gray-800"><strong><%= title %>  ></strong> dashboard</h1>
            <!-- Page Heading -->
            <div
              class="d-sm-flex align-items-center justify-content-between mb-4"
            >
              <h1 class="h3 mb-0 text-gray-800"><%= title %> </h1>
              <a
                href="#"
                class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
                ><i class="fas fa-plus fa-sm text-white-50"></i> Add new car</a
              >
            </div>

            <!-- Content Row -->
            <div class="row">
              <%- body %> 
            </div>
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright &copy; BinarCarRental 2022</span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <%- include("../components/logoutModal") %>
    
    <!-- Script JS -->
    <%- include("../components/script") %> 
  </body>
</html>

