<ul class="navbar-nav bg-primary sidebar sidebar-dark accordion fixed-top" style="z-index: 999" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon">
            <i class="fas fa-fw fa-car"></i>
        </div>
        <div class="sidebar-brand-text mx-3">BCR</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0" />

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/">
            <i class="fas fa-home" style="font-size: 1.5rem"></i>
            <span style="font-size: 15px">Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider" />

    <li class="nav-item">
        <a class="nav-link" href="/cars">
            <i class="fas fa-car" style="font-size: 1.5rem"></i>
            <span style="font-size: 15px">Cars</span></a>
    </li>
    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>