<div class="col-lg-4 mb-4">
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="text-center">
                <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem; height: 13rem" src="img/undraw_posting_photo.svg" alt="..." />
            </div>
            <p>Nama / Tipe mobil</p>
            <p class="text-gray-900" style="font-weight: bold">Rp. 430.000 / hari</p>
            <div>
                <i class="fas fa-clock fa-sm text-black-100" style="font-size: 18px; margin-right: 5px"></i>
                <span>updated at 4 Apr 2022, 09.00</span>
            </div>

            <div class="d-flex justify-content-between mt-4">
                <button class="btn btn-outline-danger" style="width: 48%" type="submit">
          <i
            class="fas fa-trash fa-sm text-black-100"
            style="font-size: 18px; margin-right: 5px"
          ></i>
          Delete
        </button>
                <button class="btn btn-success" style="width: 48%" type="submit">
          <i
            class="fas fa-pen fa-sm text-black-100"
            style="font-size: 18px; margin-right: 10px"
          ></i
          >Edit
        </button>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4 mb-4">
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="text-center">
                <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem; height: 13rem" src="img/undraw_posting_photo.svg" alt="..." />
            </div>
            <p>Nama / Tipe mobil</p>
            <p class="text-gray-900" style="font-weight: bold">Rp. 430.000 / hari</p>
            <div>
                <i class="fas fa-clock fa-sm text-black-100" style="font-size: 18px; margin-right: 5px"></i>
                <span>updated at 4 Apr 2022, 09.00</span>
            </div>

            <div class="d-flex justify-content-between mt-4">
                <button class="btn btn-outline-danger" style="width: 48%" type="submit">
          <i
            class="fas fa-trash fa-sm text-black-100"
            style="font-size: 18px; margin-right: 5px"
          ></i>
          Delete
        </button>
                <button class="btn btn-success" style="width: 48%" type="submit">
          <i
            class="fas fa-pen fa-sm text-black-100"
            style="font-size: 18px; margin-right: 10px"
          ></i
          >Edit
        </button>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4 mb-4">
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="text-center">
                <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem; height: 13rem" src="img/undraw_posting_photo.svg" alt="..." />
            </div>
            <p>Nama / Tipe mobil</p>
            <p class="text-gray-900" style="font-weight: bold">Rp. 430.000 / hari</p>
            <div>
                <i class="fas fa-clock fa-sm text-black-100" style="font-size: 18px; margin-right: 5px"></i>
                <span>updated at 4 Apr 2022, 09.00</span>
            </div>

            <div class="d-flex justify-content-between mt-4">
                <button class="btn btn-outline-danger" style="width: 48%" type="submit">
          <i
            class="fas fa-trash fa-sm text-black-100"
            style="font-size: 18px; margin-right: 5px"
          ></i>
          Delete
        </button>
                <button class="btn btn-success" style="width: 48%" type="submit">
          <i
            class="fas fa-pen fa-sm text-black-100"
            style="font-size: 18px; margin-right: 10px"
          ></i
          >Edit
        </button>
            </div>
        </div>
    </div>
</div>